 <head>
    <meta charset="UTF-8">
    <title>PING:Supevisor</title>
    
    
    
    
        <link rel="stylesheet" href="stylesheets/login.css">

    
    
    
    
  </head>

    <div class="wrapper">
  <div class="container">
    <h1>Welcome to PING</h1>
     
      <form ng-submit="vm.onSubmit()">
        <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="vm.credentials.name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
        </div>
        <div class="form-group">
          <input type="text" class="form-group" id="phone" placeholder="Enter phone 03XX-XXXXXXX" ng-model="vm.credentials.phone">
        </div>
        <div class="form-group">
          <input type="text" class="form-group" id="phone" placeholder="Enter Home Address" ng-model="vm.credentials.home_address">
        </div>
        <div>
               <input name="Select File" class="form-group" type="file" id="file"
               ng-model="vm.credentials.file"/>
            </div>
        <button type="submit" class="btn btn-alt">Sign Up!
        </button>
      </form>
  
  </div>
  
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
